:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --hover-color: #2196f3;
  --background-button: #f5f4fa;
  --background-color: #ffffff;
}

body {
  color: #212121;
  background-color: #fff;
}

ul {
  list-style: none;
}

/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый цвет #FFFFFF */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */

.webstudio_header {
  color: #2196f3;
}

.nav-list .navigation {
  color: #212121;
}

.navigation:hover,
.navigation:focus {
  color: #2196f3;
}

.contacts-main-col .contacts {
  color: #757575;
}

.contacts:hover,
.contacts:focus {
  color: #2196f3;
}

.section_1_title {
  color: #fff;
  background: rgba(47, 48, 58, 0.8);
}
.section_1 {
  color: #fff;
  background: #2196f3;
}

.section_title {
  color: #212121;
}

.section_description {
  color: #757575;
}

.section_4 {
  background: #f5f4fa;
}

/* button */

.button {
  color: #212121;
  background: #f5f4fa;
}

.button:hover,
.button:focus {
  color: #fff;
  background: #2196f3;
}
